.search-bar{
    display: flex;
}
input{
    background-color: transparent;
    border: black;
    height: 100%;
    font-size: 1.25rem;
    width: 400px;
    margin-left: 5px;
}
.input-wrapper{
    margin-top: 10px;
    margin-left: 600px;
    background-color: white;
    width: 400px;
    border-radius: 10px;
    height:2.5rem;
    padding:0 15px;
    box-shadow: 0px 0px 0px #ddd;
    display: flex;
    align-items: center;

}
input:focus{
    outline: none;
}
.cart-img{
    width: 50px;
    margin-left: 100px;
    margin-top: 5px;
}
.bar{
    margin-left: 900px;
}